@*<div class="container" style=" margin-bottom: 108px;">
*@    <div class="row">

@*        <div class="col-2">
*@
            <partial name="_SideBar" />
@*        </div>
*@
        @*<div class="col-10">
        </div>*@

    </div>
@*</div>
*@