<!DOCTYPE html>

<html>
    <partial name ="~/pages/AdminPanel/Shared/_HeadPartial.cshtml"/>

   <body class= "hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <partial name ="~/Pages/AdminPanel/Shared/_HeaderPartial.cshtml" />
        <div class="content-wrapper">
        @RenderBody()
        </div>
         <partial name="~/Pages/AdminPanel/Shared/_SidebarPartial.cshtml" />



        <partial name="~/Pages/AdminPanel/Shared/_FooterPartial.cshtml" />
        <partial name="~/Pages/AdminPanel/Shared/_AsideControlPartial.cshtml" />    
    </div>
    <partial name="~/Pages/AdminPanel/Shared/_ScriptPartial.cshtml"  />
    @RenderSection("scripts", false)
  </body>
</html>
