@using FirstShop.Core.Services.Sales.ShoppingBaskets
@using FirstShop.Core.Services.Settings.Contects
@using FirstShop.Core.ViewModels.Sales
@using FirstShop.Core.ViewModels.Settings

@inject IHttpContextAccessor _httpAccessor;
@inject IContectServices _contectServices;
@inject FirstShop.Core.Services.Sales.ShoppingBaskets.IShoppingBasketServices _shoppingBasket;
@inject FirstShop.Core.Services.Settings.Logos.ILogoServices _logoServices;
@inject FirstShop.Core.Services.UserServices.IUserServices _userServices;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ShoppingBassketViewModel cart = new ShoppingBassketViewModel(); 
    var co = _contectServices.GetAllContects().FirstOrDefault();

    LogoViewModel logo = new LogoViewModel();
    var lo = _logoServices.GetAllLogo().FirstOrDefault();
    long? userId;
    if (_httpAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        userId = _userServices.GetUserIdByUserName(_httpAccessor.HttpContext.User.Identity.Name);
        cart = await _shoppingBasket.GetActiveShoppingBasketByUserIdAsync(userId) ?? new ShoppingBassketViewModel();

    }
}

      <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="top_nav_container">
            <div class="contact_nav">
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call : @co.Number
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Email : @co.Email
                </span>
              </a>
            </div>

           <form action="/ProductList" method="get">
    <div class="d-flex justify-content-center">
        <div style="display: flex; align-items: center; gap: 0;">
            <input type="text" name="title" class="form-control" placeholder="Search here..."
                style="height: 50px; width: 400px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; box-shadow: none; border-right: none;">
            <button type="submit" class="btn btn-warning"
                style="height: 50px; width: 60px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; box-shadow: none; margin-top: -2px;">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>


            <div class="user_option_box">
                    @if (_httpAccessor.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <a href="~/UserPanel">@_httpAccessor.HttpContext.User.Identity.Name</a>
                        <a href="Logout">Logout</a>
                    }
                    else
                    {
                    <form asp-controller="Account" asp-action="Register">
                          <a href="Register" class="account-link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        
                            <span>
                              Sign Up
                            </span>
                          </a>
                      </form>
                    }
                    <form asp-controller="Product" asp-action"ShoppingCart">
              <a href="~/ShoppingCart" class="cart-link">
                <i class="fa fa-shopping-cart" aria-hidden="true"><span class="badge">@cart.TotalCount</span></i>
                <span>
                  Cart
                </span>
              </a>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <img class="navbar-brand" src="~/Images/Logo/@lo.LogoImage" style="heigh:64px ; width: 64px" />

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="~/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="~/CategoryList"> Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="~/ProductList">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="~/PostsList">Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="~/UserPanel">User Panel</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      </header>
   

      @section scripts
      {
          <script>

        //     $(document).ready(function () {
        //    $("#search").on("click", function (e) {
        //        e.preventDefault(); // جلوگیری از ارسال فرم
        //        var title = $("#titleInput").val().trim(); // گرفتن مقدار ورودی

        //        if (title.length > 0) {
        //            let url = "/ProductList/" + encodeURIComponent(title);
        //            window.location.href = url;
        //        } 
        //        else {
        //            window.location.href = "/ProductList"; // اگر مقدار خالی بود همه محصولات رو نشون بده
        //        }
        //    });
        //});
              //$("input[name='titleInput']").on("input", function() 
              //{
              //    $('#titleSearch').val(jQuery(this).val());
              //    console.log(jQuery(this).val());
              //});

              //$('#search').on('click', function() 
              //{
              //    var searchTitle = $('#titleSearch').val();
              //    console.log(searchTitle);
              //    window.location.replace("productList/"+searchTitle);
                  
              //});


          </script>
      }
      
