@model FirstShop.Core.ViewModels.Users.UserRegisterViewModel

<div>
    <h1>@Model.UserName  Dear...</h1>
    <p>Thank you for Registration</p>
    <p></p>
    <p>Youre account is active now</p>
</div>