@page
@model FirstShop.Pages.AdminPanel.Product.ApproveCommentModel
@{
}

<div class="card-body pb-0">
											<!--begin::Header-->
											<div class="d-flex align-items-center mb-5">
												<!--begin::User-->
												<div class="d-flex align-items-center flex-grow-1">
													<!--begin::Avatar-->
													<div class="symbol symbol-45px me-5">
														<img src="assets/media/avatars/300-7.jpg" alt="">
													</div>
													<!--end::Avatar-->
													<!--begin::Info-->
													<div class="d-flex flex-column">
														<a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Carles Nilson</a>
														<span class="text-gray-500 fw-bold">Last week at 10:00 PM</span>
													</div>
													<!--end::Info-->
												</div>
												<!--end::User-->
												<!--begin::Menu-->
												<div class="my-0">
													<div class="custom-control custom-checkbox">
														  <input class="custom-control-input" type="checkbox" id="customCheckbox1"  >
														  <label for="customCheckbox1" class="custom-control-label">this comment approved</label>
											        </div>

													<!--begin::Menu 3-->
													<!--end::Menu 3-->
												</div>
												<!--end::Menu-->
											</div>
											<!--end::Header-->
											<!--begin::Post-->
											<div class="mb-7">
												<!--begin::Text-->
												<div class="text-gray-800 mb-5">Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors about driving and keep you focused on the overall structure of your post</div>
												<!--end::Text-->
											</div>
											<!--end::Post-->
											<!--begin::Separator-->
											<div class="separator mb-4"></div>
											<!--end::Separator-->
										</div>